<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debt Tracker mwahahahahah</title>
</head>
<body>
    <form action="/login" method = "POST" id="form" class="form_class">
        <p>Name <input type = "text" name = "name" /></p>
        <p>Age <input type = "integer" name = "age" /></p>
        <p>Occupation <input type = "text" name = "occupation" /></p>
        <p>Phone number <input type = "integer" name = "phonenumber" /></p>
        <p>Email <input type = "text" name = "email" /></p>
        <p>Money <input type = "decimal" name = "money" /></p>

        <button id="btn" class="btn_class type = "submit" value = "Submit">Submit</button>
     </form>
</body>
</html>